* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    --black: #111;
    --primary: #ffb60e;
    --button-text: #090200;
    --white: #f3f3f3;
    --gray: #323132;
    --additional: #a7a7a7;
    --additional-dark: #514f51;
    ---semi: hsla(0, 0%, 7%, 0.5);

    background: url(images/sectionBg.jpg) no-repeat 50%, var(--black);
    background-size: cover;
}

.section {
    min-height: 200px;
}

.section-slider {
    background: url(sectionBg.jpg) no-repeat 50%, var(--black);
    background-size: cover;
    position: relative;
}

.section-slider::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, var(--color-black) 0, transparent 100%);
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.slide {
    width: 100%;
    height: 461px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
}

#canvas {
    width: 967px;
    height: 621px;
    position: absolute;
    top: -78px;
    right: 30px;
    opacity: 0.8;
}

.pentagon {
    height: 100%;
    color: var(--additional-dark);
}

.arrow-button {
    background-image: url(arrow.svg);
    position: absolute;
    top: calc(50% - 24px);
    left: 95px;
    width: 48px;
    height: 48px;
    border: 1px solid var(--gray);
    background-color: var(--black);
    color: var(--additional);
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.arrow-button.next {
    left: unset;
    right: 95px;
    rotate: 180deg;
}

.arrow-button:hover {
    border-color: var(--primary);
}

.text {
    position: absolute;
    top: 50px;
    left: 150px;
    display: flex;
    width: 393px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    transition: translate 1s ease, opacity 1s ease;
}

.title {
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
}

.description {
    color: var(--white);
    flex: 1 1;
}

.slider-bottom-buttons {
    height: 48px;
    background: var(--semi);
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 1px solid var(--gray);
    position: relative;
}

.slider-bottom-buttons__button {
    position: relative;
    padding: 0 25px;
    background: transparent;
    border: transparent;
    color: var(--additional);
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    transition: color 0.2s ease;
}

.slider-bottom-buttons__button::after {
    position: absolute;
    display: block;
    content: "";
    top: 12px;
    bottom: 12px;
    right: -1px;
    border-left: 1px solid var(--gray);
}

.slider-bottom-buttons__button.active,
.slider-bottom-buttons__button:hover {
    color: var(--primary);
}
